[buildout]
extends =
    base.cfg

eggs +=
    plone.reload
    Products.PDBDebugMode
    Products.DocFinderTab
    aws.zope2zcmldoc
    collective.profiler

extensions +=
    mr.developer

parts +=
    omelette
    test
    robot
    plonesite
    ws_scripts

show-picked-versions = true

[omelette]
recipe = collective.recipe.omelette
eggs = ${test:eggs}

[test]
recipe = zc.recipe.testrunner
eggs =
    ${buildout:eggs}
    ${buildout:package-name} ${buildout:package-extras}
defaults = ['-s', '${buildout:package-name}', '--auto-color', '--auto-progress']

[robot]
recipe = zc.recipe.egg
eggs =
    Pillow
    ${test:eggs}
    plone.app.robotframework[ride,reload]

[instance]
eggs +=
#    collective.recipe.plonesite

[plonesite]
recipe = collective.recipe.plonesite
site-id = jsonapi
profiles-initial = Products.CMFPlone:plone-content
site-replace = false

[ws_scripts]
recipe = zc.recipe.egg:scripts
eggs =
    imio.dms.ws
arguments = 'localhost', '8080', 'jsonapi'
